<% if current_user %>
  <% if @tracking_period %>
    <div class="col-sm-10 col-sm-offset-1 generic-container">
      <h1 id="tracking-period-calorie-total">Total Calories Consumed:<%= @tracking_period.calorie_total %></h1>
    </div>
  <% else %>
    <div class="col-sm-10 col-sm-offset-1 generic-container">
      <h5>Breakfast</h5>
      <div class="tracking-period-container">
        <% if @breakfast %>
          <% @breakfast.foods.each do |food| %>
            <div class="food-info">
              <p class="food-name"><%= food.name %><p>
              <p>Servings: <%= food.servings %></p>
              <p>Calories per serving: <%= food.calories_per_serving %></p>
              <p>Calories Total: <%= food.calorie_total %></p>
              <p class="hidden"><%= food.id %></p>
              <%= link_to 'Edit Info', edit_tracking_period_food_path(@breakfast, food), class:'edit-food', remote: true %>
              <%= link_to 'Delete', tracking_period_food_path(@breakfast, food), remote: true, class:'delete-food', data: { confirm: 'Are you sure?', method: 'delete' } %>
            </div>
          <% end %>
        <% else %>
          <p>There is nothing here! Please add data.</p>
        <% end %>
      </div>
      <h5>Lunch</h5>
      <h5>Dinner</h5>
      <h5>Snacks</h5>
    </div>
  <% end %>
  <%= render 'modal' %>
<% else %>
  <%= render 'splash_page'%>
<% end %>
